body{
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.container-index{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.picture-area{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-image: url(/assets/images/car1.jpg);
    background-size: 100%;
    width: 50vw;
    height: 100vh;
    margin: 0;
    padding: 40px 50px 60px 60px;
}
.picture-area img{
    position: top;
    padding-bottom: 70px;
}
.picture-area h1{
    padding-top: 80px;
    text-align: left;
    margin-top: 30px;
    padding-bottom: 0;
    color: white;
}
.picture-area h6{
    margin: 0;
    padding: 0;
    color: white;
}
.form-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 50vw;
    height: 111vh;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    padding-top: 30px;
}
.form-area h1,h5{
    text-align: center;
    margin: 0;
}
.input-area{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 10px;
}
.input-area input{
    margin: 5px;
    width: 20vw;
    height: 30px;
    border: solid 0.5px black;
    border-radius: 10px;
    padding: 10px;
}
.checkbox-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-evenly;
    gap: 60px;
}
.checkbox-area a, p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #12BACF;
    margin: 0;
    font-size: 10px;
}
.checkbox-area a:hover{
    color: black;
}
button{
    display: flex;
    justify-content: center;
    background-color: #12BACF;
    align-content: center;
    border-style: none;
    margin-top: 50px;
    width: 22vw;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-left: 15px;
}
button:hover{
    color: #12BACF;
    background-color: black;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.footer a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: #12BACF;
}
.signup-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}
.signup-picture-area{
    background-image: url(/assets/images/carsignup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 50vw;
    height: 110vh;
    margin: 0;
    padding: 0;
}
.signup-picture-area img{
    position: relative;
    margin-left: 40px;
}
.signup-picture-area h1{
    padding: 200px 0 0 50px;
    text-align: left;
    margin-top: 30px;
    color: white;
}
.signup-picture-area h6{
    padding: 0 0 0 50px;
    margin: 0;
}
.signup-form-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.signupform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 30vw;
    height: 100%;
    margin: 0;
    padding: 20px 0 0 20px;
}
.signupform h1,h3{
    text-align: center;
}
.external-verification{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}
.external-verification input{
    width: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px black;
}
.or-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin: 10px;
}
.name-email{
    display: flex;
    flex-direction: column;
    justify-items: left;
    margin: 0;
}
.name-email label{
    display: flex;
    flex-direction: column;
    justify-items: left;
    margin: 10px;
    text-align: left;
}
.name-email input{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px black;
}
.password{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
}
.password label{
    display: flex;
    flex-direction: row;
    justify-items: left;
    margin: 10px;
    text-align: left;
}
.password input{
    width: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px black;
}
.forget-password{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 150px;
    margin: 20px;
}
.password {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 120px;
    margin-bottom: 3px;
}
.signup-password{
    display: flex;
    flex-direction: row;
    justify-items: left;
    margin: 0;
}
.signup-password label{
    display: flex;
    flex-direction: row;
    justify-items: left;
    margin: 10px;
    text-align: left;
}
.signup-password input{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 70%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px black;
}
.signup-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}
.signup-terms{
    display: flex;
    justify-content: center;
    margin: 3px 0 1px 0;
  
}
.signup-footer{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.signup-footer a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: #12BACF;
}